@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1{
    font-family: 'Montserrat';
    font-size: 40px;
    position:absolute;
    left: 50%;
    transform: translateX(-50%); /* This centers the text horizontally */
    white-space: nowrap; /* Prevents text wrapping */
}
header{
    position: relative;
    display: flex;
    align-items: center;
    max-height: 80px;
    border-bottom: solid lightgray 2px;
    padding: 10px 20px;
}
.logo{
    height: 100px;
    width: auto;
    margin-right: auto;
}