@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1{
    font-family: 'Montserrat';
    font-size: 40px;
    justify-content: center;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 80px;
    border-bottom: solid lightgray 2px;
}
.logo{
    justify-self: center;
    width: fit-content;
    height: fit-content;
}